#header {
    margin: 5px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-family: Tahoma, sans-serif;
    font-size: 36px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(44%,#8ab66b), color-stop(100%,#398235)); /* Chrome,Safari4+ */
    color: rgb(255, 255, 255);
    text-shadow: 0 3px 3px rgb(100, 100, 100);
    border: 1px solid rgb(100, 100, 100);
}

#header_text {
    float: left; 
    width: 84%;
    min-height: 100px;
}

#timer {
    float: left; 
    width: 14%; 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,80,50,1)), color-stop(50%,rgba(241,111,92,1)), color-stop(51%,rgba(246,41,12,1)), color-stop(71%,rgba(240,47,23,1)), color-stop(100%,rgba(231,56,39,1)));
    min-height: 100px;
    margin-top: 4px; 
    margin-bottom: 4px;
    border-radius: 4px;
    text-align: center;
    font-family: Tahoma, sans-serif;
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-shadow: 0 3px 3px rgb(100, 100, 100);
    border: 1px solid rgb(100, 100, 100);    
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

div.tiles {
    width: 100%; 
}

.tile {
    float: left;
    /*
    width: 150px;
    height: 150px;
    */
    margin: 3px;
    border-radius: 10px;
    background-size: 100%;
    cursor: pointer;
    color: rgba(0, 0, 0, 0);
    font-family: Tahoma, sans-serif;
    font-size: 120px;
    border: 1px solid rgb(100, 100, 100);
    text-align: center;
}

.hidden {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1))); /* Chrome,Safari4+ */
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    color: rgb(255, 255, 255);
    text-shadow: 0 3px 3px rgb(100, 100, 100);
}

div.spacer {
    clear: both;
}
